* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #111111;
  color: #FFFFFF;
  margin: 0;
}

.lists {
  margin-top: -250px;
}

@media (max-width: 760px) {
  .lists {
    margin-top: -100px;
  }
}